@model BBBHackton.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}




<hr />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div id="main" class="container-fluid">

    
    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-12">
                <img class="img-circle center-block " src="@Model.Foto" />

            </div>
        </div>
        <p class="text-info text-center">

            Você autenticou com sucesso no <strong>Facebook</strong> Complete as informações abaixo e clique no botão Salvar para finalizar o login.
        </p>
        
        <div class="row " style="margin: 0 auto;">
            <div class="form-group col-md-3" style="margin-right:10px; margin-left:5px;">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3" style="margin-right:10px;">
                @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3" style="margin-right:10px;">
                @Html.LabelFor(model => model.DataNasc, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.DataNasc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataNasc, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3" style="margin-right:10px;">
                @Html.LabelFor(m => m.Genero, new { @class = "col-md-2 control-label" })

                @Html.TextBoxFor(m => m.Genero, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Genero, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="row" style="margin: 0 auto;">
            <div class="form-group col-md-12" style="margin-left:5px;">
                @Html.LabelFor(m => m.AboutMe, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.AboutMe, 4, 40, new { @class = "form-control col-md-12" })                
                @Html.ValidationMessageFor(m => m.AboutMe, "", new { @class = "text-danger" })
            </div>

        </div>
        

            @*<div class="row">
                <div class="form-group col-md-3">
                    <label for="exampleInputEmail1">Campo Quatro</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputEmail1">Campo Cinco</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputEmail1">Campo Seis</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputEmail1">Campo Sete</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Campo Oito</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Campo Nove</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    <label for="exampleInputEmail1">Campo Dez</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputEmail1">Campo Onze</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputEmail1">Campo Doze</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputEmail1">Campo Treza</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Campo Quatorze</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Campo Quinze</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
                </div>
            </div>*@

            <hr />

            <div class="row">
                <div class="col-md-12 ">
                    <button type="submit" class="btn btn-primary center-block">Salvar</button>                    
                </div>
            </div>
    }

</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
